<template>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed text-lg">Option</p>
      <div class="flex justify-center pt-12">
        <button class="block text-white bg-[#22d3ee] hover:bg-[#0891b2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" data-modal-toggle="popup-modal">
            Créer combattant
        </button>
        <div class="flex align-items-center">
          <label for="countries" class="block mt-3 text-sm font-medium px-4 text-gray-900 dark:text-gray-400">Choisir commbattant</label>
          <select v-model="combattant_selected" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-40 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option v-for="combattant in combattants" :value="combattant.id" :key="combattant.id">{{ combattant.nom }}</option>
          </select>
        </div>
        <div class="flex align-items-center" v-if="combattant_selected">
          <label for="countries" class="block mt-3 text-sm font-medium px-4 text-gray-900 dark:text-gray-400">Joindre combat</label>
          <select v-model="fight_selected" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-40 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option v-for="fight in fights" :value="fight.id" :key="fight.id">{{ fight.id }}</option>
          </select>
        </div>
      </div>
      <div class="pt-20" v-if="combattant_selected">
          <button @click="createCombat" type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Créer Combat</button>
      </div>
            <button @click="player_1" v-if="fight_selected" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">player 1</button>
            <button @click="player_2" v-if="fight_selected" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">player 2</button>
    </div>
  </div>
<div class="text-center" v-if="fight_selected"  >
  <button @click="fight" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Frapper</button>
  <button @click="magic" type="button" class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900">Lancer sort</button>
</div>
</section>
<ModalComponent/>
<div class="grid place-items-center" v-if="loading">
    <svg role="status" class="inline mr-2 w-10 h-10 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
</div>
<div v-if='notification' class="pt-8 xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
    <div  class=" flex pb-6 p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
        <svg class="inline flex-shrink-0 mr-3 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <div>
            <span class="font-medium">{{notification}}</span>
        </div>
    </div>
</div>
</template>
<script>
import ModalComponent from '@/components/modal/ModalComponent.vue';
import axios from 'axios';
export default {
    components: {
      ModalComponent
  },
    data(){
        return {
            combattant_selected:'',
            combattants:[],
            notification:'',
            loading:false,
            fights:'',
            fight_selected:null
        }
    },
    mounted: function () {
        this.getFighter();
        this.getFight();
        window.setInterval(()=>{
          this.getWinner();
        },4000)
    },
    methods: {
      async getFighter(){ 
            try {
              let user = localStorage.getItem('user-info');
              const id_user_connected = JSON.parse(user).id;
              let result = await axios.get(`http://127.0.0.1:8000/api/get-fighter?id_user=${id_user_connected}`);
              this.combattants = result.data;
            }catch(e){
              console.log(e);
            }
        },
      async createCombat(){
            try{
                this.loading = true;
                let result = await axios.post("http://127.0.0.1:8000/api/combats",{
                    combattant1: null
                });
                this.loading = false;
                if(result.status == 201){
                    this.notification = "Combat créer";
                    setTimeout(()=>{
                    this.notification = "";
                    },4000);
                    this.getFight();
                }
            }catch(e){
              console.log(e);
            }
        },
        async getFight(){ 
            try {
              let result = await axios.get(`http://127.0.0.1:8000/api/combats`);
              this.fights = result.data;
            }catch(e){
              console.log(e);
            }
        },
        async player_1(){ 
            try {
              let result = await axios.put(`http://127.0.0.1:8000/api/combats/${this.fight_selected}`,{
                combattant1: `/api/combattants/${this.combattant_selected}`
              });
              console.log(result.data);
            }catch(e){
              console.log(e);
            }
        },
        async player_2(){ 
            try {
              let result = await axios.put(`http://127.0.0.1:8000/api/combats/${this.fight_selected}`,{
                combattant2: `/api/combattants/${this.combattant_selected}`
              });
              console.log(result.data);
            }catch(e){
              console.log(e);
            }
        },
        async fight(){ 
            try {
              let result = await axios.get(`http://127.0.0.1:8000/api/fight/${this.fight_selected}?id_combattant=${this.combattant_selected}`);
              console.log(result.data);
            }catch(e){
              console.log(e);
            }
        },
        async magic(){ 
            try {
              let result = await axios.get(`http://127.0.0.1:8000/api/magic/${this.fight_selected}?id_combattant=${this.combattant_selected}`);
              console.log(result.data);
            }catch(e){
              console.log(e);
            }
        },
        async getWinner(){ 
            try {
              if(this.fight_selected != null){
                let result = await axios.get(`http://127.0.0.1:8000/api/winner/${this.fight_selected}`);
                if(result.data != ''){
                  alert("Le gagnant est " + result.data);
                }
              }
            }catch(e){
              console.log(e);
            }
        }
    }
}
</script>
